{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"semi": true,
	"printWidth": 100,
	"bracketSpacing": true,
	"useTabs": true,
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"importOrder": [
		"^@nestjs/(.*)$",
		"typeorm",
		"^@entities/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^[./]",
		"@config/configuration"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
